// COLORS
$bg-color: #fff;
$bg-color-white : #ffffff;

$text-color: #333;
$text-color-gray: #878787;

$shadow: #d5d5d5;

//TYPOGRAPHY
$font-size--normal: 16px;
$font-size-small: 13px;
$font-size-medium: 20px;
$font-size-large: 36px;
$font-size-x-large: 42px;